<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="guardar" method="POST">
        Cadastro:<br>
        <input required placeholder="Nome do Produto" type="text" name="nome">
        <br><br>
        <input required placeholder="Categoria do Produto" type="text" name="categoria">
        <br><br>
        <input required placeholder="Preco do Produto" type="number" name="preco">
        <input type="submit" value="Cadastrar">

    </form>
    <br><br><br>
<h2>Produtos</h2>
<br>

    {% for user in data %}
        {{user}}<br>
    {% endfor %}
</body>
</html>
